body, h2{
  text-align: center;
}

.btn{
  height: 36px;
  cursor: pointer;
  margin-left: 15px;
  cursor: pointer;
}



.btn01{
  background-color: #f00;
  color: #fff;
  display: block;
}

.sm-btn{
   width: 40px;
   height: 40px;
  margin: 0 8px;
  font-size: 25px;
  cursor: pointer;

}

.btn-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrap h2{
  color: #f00;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  height:30px;
  width: 400px;
}